# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.egg-info/

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
debug.log

# Database
*.sqlite
*.db
